<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <!-- The title is the #1 ranking factor for specific keywords -->
    <title>Batch Invoice PDF to Excel Automation Tool | TSP Enterprises</title>
    <!-- This description shows up right under your link on Google -->
    <meta name="description" content="Automate and generate excel report from multiple invoice PDFs instantly.
    Save hours of manual paperwork with our enterprise invoicing workflow tool.">

    <link rel="icon" type="image/png" href="static/Logo/logo only no background.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home_page') }}">Convert Batch Invoice PDFs to Excel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'home_page' %}active{% endif %}" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'contact_page' %}active{% endif %}" href="{{ url_for('contact_page') }}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="flex-grow-1">
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid p-3 bg-dark text-white mt-auto">
      <footer>
        <p style="text-align: center; font-size: clamp(10px, 2vw, 14px); margin: 0;">
            Copyright <em>2026</em>. Created by TSP-Enterprises
        </p>
      </footer>
    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
